html {
  background-color: rgb(248, 123, 77);
}
h1 {
  text-align: center;
  color: rgb(60, 60, 228);
  font-family: Impact, Charcoal, sans-serif;
}
h2{
  color: rgb(60, 60, 228);
  font-family: Impact, Charcoal, sans-serif;
  font-size: 27px;
}
h3{
  color: rgb(60, 60, 228);
  font-family: Impact, Charcoal, sans-serif;
  font-size: 25px;
}
h4{
  color: rgb(60, 60, 228);
  font-family: Impact, Charcoal, sans-serif;
  font-size: 23px;
}
p {
  text-align: center;
  background-color: rgb(91, 91, 233);
  opacity: 0.9;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
ul li {
  text-align: center;
  list-style-type: square;
  list-style-position: inside;
  background-color: rgb(60, 60, 228);
  padding: 10px;
  width: 420px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  border-radius: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: contrast(80%);
}
a {
  color: orangered;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
img:hover {
  box-shadow: 0 0 4px 5px white;
}
a:link { 
  background-color: rgb(25, 25, 197);
}
a:visited {
  background-color: black;
}
.skill {
  color: rgb(60, 60, 228);
  font-family: Impact, Charcoal, sans-serif;
  font-size: 29px;
}
a:hover {
  color: white;
}
